.searchbox {
  position: fixed;
  top: 0;
  height: 1.0667rem;
  left: 0;
  width: 100%;
  background: rgba(203, 82, 43, 0.8);
}
.searchbox a {
  width: 80%;
  height: 0.8rem;
  line-height: .8rem;
  font-size: 14px;
  color: #999;
  padding-left: .5rem;
  display: block;
  background: #ffffff;
  border-radius: .8rem;
  margin-top: 0.1333rem;
  margin-left: 10%;
}
.searchbox a i.icon-search {
  background: url(../images/icon-search.png);
  width: 0.3067rem;
  height: 0.3067rem;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: .25rem;
}
.newslist {
  margin-top: 1.0667rem;
  padding: 0.2rem;
}
.newslist li {
  background: #fff;
  padding: .5rem;
}
.newslist li img {
  display: none;
}
.newslist li .title {
  display: block;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}
.newslist li .abstract {
  height: 50px;
  line-height: 25px;
  overflow: hidden;
}
.newslist li .abstract {
  text-align: justify;
  font-size: 14px;
  color: #666;
}
.newslist li .operation {
  margin-top: 10px;
}
.newslist li .operation a {
  color: #cd532a;
}
.newslist li .operation a + a {
  margin-left: 20px;
}
.newslist li + li {
  margin-top: .2rem;
}
.data-loading {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  display: none;
}
.data-loading i {
  background: url(../images/loading.gif) no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
