doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(content="telephone=no,email=no" name="format-detection")
    meta(content="yes" name="apple-mobile-web-app-capable")
    script(type='text/javascript').

            var i = document.documentElement
            , u = "orientationchange"in window ? "orientationchange" : "resize"
            , r = function() {
                var n = i.clientWidth > 750 ? 750 : i.clientWidth
                , t = 37.5;
                n && (t = 37.5 * (n / 375),
                i.style.fontSize = t + "px")
            };
            document.addEventListener && (window.addEventListener(u, r, !1),
            document.addEventListener("DOMContentLoaded", r, !1))
            
    block css    
    body
      block content
      script(type='text/javascript', src="/javascripts/jquery.min.js")
      script(type='text/javascript', src="/javascripts/common.js")
      block script
