extends layout

block css
    link(rel='stylesheet', href='/stylesheets/newslist.css')
    link(rel='stylesheet', href='/javascripts/dropload/dropload.css')
block content
    div.searchbox
        a(href="/search")<i class="icon-search"></i> 搜索新闻
    ul.newslist
      

    div.data-loading(data-page="1") 
        i
        span="正在努力加载"
block script

    script.
        function stripHTML (str) {
            return str.replace(/<style(?:.|\s)*?\/style>/g,"").replace(/<script(?:.|\s)*?\/script>/g,"").replace(/<(?:.|\s)*?>/g,"");
        }
       

        var $win = $(window);
         $win.on('scroll', throttle(function() {

            var scrollHeight = $win.scrollTop(),
                windowHeight = $win.height(),
                docHeight = $(document.body).height() - 50;
              
            prevScroll = scrollHeight;

            if (scrollHeight + windowHeight > docHeight) {
                var $loadMore = $('.data-loading'),
                    page = $loadMore.data('page');
                
                page++;
               
                getNews(page);
            }


        }, 100));

        getNews(1);
        var isLoading = false;
        function getNews(page){
            
            if (isLoading) return;
            isLoading = true;
           
            var $loadMore = $('.data-loading');

            $.getJSON('/getNews?page=' + page, function(result) {
               isLoading = false;
               if(result){
                   var count = result.newslist.length;
                   var html = '';
                   $.each(result.newslist, function(index, elem){
                        if(elem.abstract.trim()!='' && elem.abstract.indexOf('related_video_info')==-1 && elem.abstract.indexOf('window.location.href') == -1){
                            html += '<li>';
                            html += '<span class="title">' + elem.title + '</span>';
                            html += '<a href="/detail/' + elem.id + '">' ;
                            html += '<div class="abstract" >' + stripHTML(elem.abstract).substr(0, 1000) + '</div>';
                            html += '</a>';
                            html += '<div class="operation">' ;
                            html += '<a class="original-link" href="/detail/' + elem.id +'">查看全文</a>';
                            html += '<a class="original-link" href="'+ elem.link +'">原链</a>';
                            html += '</div>';
                            html += '</li>';
                        }
                   });
                   $('.newslist').append(html);

                   if(count<10){
                       $loadMore.hide();
                   }else{
                       $loadMore.show();
                   }
                   $loadMore.data('page', page);
               }

            });
        }

      
        

